<!DOCTYPE HTML>
<html xmlns="http://www.w3.org.1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body  {background-color:hsla(120,10%,1%,0.9);}
table {background-color: hsla(400,100%,100%, .92);}
h4    {color: #FF6666;}
</style>
<meta charset="ISO-8859-1" />
<title>Cliente</title>
</head>
<body>
	<h2><font color="white">Cliente:</font></h2>
	
	<form  th:action="clienteExcluir" method="post">
    	<table border="1">
    	<h2><font color="white">Comprar Produto:</font></h2>
        <tr>
        	<td><label>Codigo:</label></td>
            <td><input name="codigo" placeholder="codigo"  th:required="required"/></td>
        </tr>
        <tr>
            <td><label>Nome:</label></td>
            <td><input name="nome" placeholder="nome"  th:required="required"/></td>
        </tr>       
    	</table>
    	<tr>
            <td><input type="submit" value="Comprar" /></td>
        </tr>
	</form>
		
	<form  th:action="consultarProduto" method="post">
    	<table border="1">
	
		<h2><font color="white">Consultar Produto:</font></h2>       
    	</table>
    	<tr>
            <td><input type="submit" value="Consultar" /></td>
        </tr>
		</form>
	
	<h2><tr><td th:text="${resultadoTabela}"></td></tr></h2>
</body>
</html>