<!DOCTYPE HTML>
<html xmlns="http://www.w3.org.1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body  {background-color:hsla(120,10%,1%,0.9);}
table {background-color: hsla(400,100%,100%, .92);}
h4    {color: #FF6666;}
</style>
<meta charset="ISO-8859-1" />
<title>Gerente</title>
</head>
<body>

	<h2><font color="white">Gerente:</font></h2>
	
		<form  th:action="gerente" method="post">
    	<table border="1">
    	<h2><font color="white">Inserir Produtos Novos:</font></h2>
        <tr>
        	<td><label>Codigo:</label></td>
            <td><input name="codigo" placeholder="codigo"  th:required="required"/></td>
        </tr>
        <tr>
            <td><label>Nome:</label></td>
            <td><input name="nome" placeholder="nome"  th:required="required"/></td>
        </tr>  
        <tr>
            <td><label>Data de Validade:</label></td>
            <td><input name="validade" placeholder="YYYY-MM-DD"  th:required="required"/></td>
        </tr>
        <tr>
            <td><label>Marca:</label></td>
            <td><input name="marca" placeholder="marca"  th:required="required"/></td>
        </tr>   
        <tr>
            <td><label>Preco:</label></td>
            <td><input name="preco" placeholder="preco"  th:required="required"/></td>
        </tr>
        <tr>
            <td><label>Descricao:</label></td>
            <td><input name="descricao" placeholder="descricao"  th:required="required"/></td>
        </tr>       
    	</table>
    	<tr>
            <td><input type="submit" value="Inserir" /></td>
        </tr>
		</form>
		
		<form  th:action="gerenteAlterar" method="post">
    	<table border="1">
    	<h2><font color="white">Alterar Produtos:</font></h2>
        <tr>
        	<td><label>Codigo:</label></td>
            <td><input name="codigo" placeholder="codigo"  th:required="required"/></td>
        </tr>
        <tr>
            <td><label>Nome:</label></td>
            <td><input name="nome" placeholder="nome"/></td>
        </tr>  
        <tr>
            <td><label>Data de Validade:</label></td>
            <td><input name="validade" placeholder="YYYY-MM-DD"/></td>
        </tr>
        <tr>
            <td><label>Marca:</label></td>
            <td><input name="marca" placeholder="marca"/></td>
        </tr>   
        <tr>
            <td><label>Preco:</label></td>
            <td><input name="preco" placeholder="preco"/></td>
        </tr>
        <tr>
            <td><label>Descricao:</label></td>
            <td><input name="descricao" placeholder="descricao"/></td>
        </tr>       
    	</table>
    	<tr>
            <td><input type="submit" value="Alterar"/></td>
        </tr>
		</form>
		
		
		<form  th:action="gerenteExcluir" method="post">
    	<table border="1">
    	<h2><font color="white">Excluir Produtos:</font></h2>
        <tr>
        	<td><label>Codigo:</label></td>
            <td><input name="codigo" placeholder="codigo"  th:required="required"/></td>
        </tr>
        <tr>
            <td><label>Nome:</label></td>
            <td><input name="nome" placeholder="nome"  th:required="required"/></td>
        </tr>       
    	</table>
    	<tr>
            <td><input type="submit" value="Excluir" /></td>
        </tr>
		</form>
		
		<form  th:action="consultarProduto" method="post">
    	<table border="1">
    	<h2><font color="white">Consultar Produto:</font></h2>       
    	</table>
    	<tr>
            <td><input type="submit" value="Consultar" /></td>
        </tr>
		</form>
		
		<form  th:action="contarProdutos" method="post">
    	<table border="1">
    	<h2><font color="white">Contar Total de Produtos:</font></h2>  
    	<h2><tr><td th:text="${contagem}"></td></tr></h2>     
    	</table>
    	<tr>
            <td><input type="submit" value="Contar" /></td>
        </tr>
		</form>
	
	<h2><tr><td th:text="${resultadoTabela}"></td></tr></h2>
	
</body>
</html>