<!DOCTYPE HTML>
<html xmlns="http://www.w3.org.1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body  {background-color:hsla(120,10%,1%,0.9);}
table {background-color: hsla(400,100%,100%, .92);}
h4    {color: #FF6666;}
</style>
<meta charset="ISO-8859-1" />
<title>Login </title>
</head>
<body>
	<div align="center">
		<form  th:action="validarLogin" method="post">
    	<table border="1">
    	<h2><font color="white">Login:</font></h2>
        <tr>
        	<td><label>Nome:</label></td>
            <td><input name="nome" placeholder="nome" th:required="required"/></td>
        </tr>
        <tr>
            <td><label>Senha:</label></td>
            <td><input name="senha" placeholder="senha" th:required="required"/></td>
        </tr>         
    	</table>
    	<tr>
            <td><input type="submit" value="Login" /></td>
        </tr>
		</form>
		<h2><tr><td th:text="${resultado}"></td></tr></h2>
	</div>
</body>
</html>