<!DOCTYPE HTML>
<html xmlns="http://www.w3.org.1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body  {background-color: hsla(60, 10%, 80%, .87);}
table {background-color: hsla(400,100%,100%, .92);}
table {background-color: hsla(400,100%,100%, .92);}
h4    {color: #FF6666;}
</style>
<meta charset="ISO-8859-1" />
<title>Login Inválido</title>
</head>
<body>
	<h2>Login Inválido, favor verificar preenchimento do nome e da senha!</h2>
	
	<h2><tr><td th:text="${resultado}"></td></tr></h2>
</body>
</html>